<div class="content-wrapper" style="min-height: 1276px;">
  <div class="container">
    <br>

    <div class="card ">
      <div class="card-header bg-secondary">
        <b>Lista de convênios</b>
      </div>
      <div class="card-body">

        <!-- TABELA -->
        <div class="row">
          <div class="col-md-12">
            <table class="table table-sm" style="margin-left: 2%; width: 95%;">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Codigo</th>
                  <th scope="col" style="text-align: left;">Convênio</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of listaConvenios">
                  <td style="width: 10%;">{{ c.codigo }}</td>
                  <td style="text-align: left;">{{ c.nome }}</td>
                </tr>
              </tbody>

              <!-- <tfoot>
                      <tr style="background-color: #eeeeee;">
                        <th class="thead-light"></th>
                        <td class="thead-light" style="text-align: right;"><b>Total R$:</b> {{ lista_gastos.total }}</td>
                      </tr>
                    </tfoot> -->

            </table>
          </div>
        </div>
        <!--FIM TABELA -->

      </div>
    </div>

  </div>
</div>
